* {
    margin : 0;
    padding : 0;
    border : none;
}

.hide {
    display:none;
}


body{
    /* background: url("../images/bg.jpg") no-repeat center center; */
    background-color: #FFF9DE;
    color: #4D4D4D;
    text-align: center;
}

h1{
    margin-top: 1%;
    font-size: 350%;
    font-family: "Londrina Sketch", sans-serif;
}

.game-area{
    background-color: rgba(255, 212, 178, 0.5); 
    box-sizing: border-box;
    margin-top: 10px;
    padding: 1%;
    border-radius: 2%;}

.name-area{
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 30%;
}

.name{
    padding-top: 5px;
    font-family : "Flavors",sans-serif;
    font-size: 200%;
}

#name-id{
    width: 20%;
    background-color: #FFF9DE;
}

#player-div, #lp-div{
    margin-top:40px;
    margin-bottom: 10px;
}

#lp-div{
    background-color: #FFF9DE;
    width: 20%;
    margin: auto;
    margin-top:40px;
    margin-bottom: 30px;
}
.button{
    width: 15%;
    height: 30px;;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF9DE;
    letter-spacing: 1.5px;
    background-color: #4D4D4D;
    font-size: 80%;
}

.submit{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.max-score{
    margin-top: 30px;
}

.player{ 
    margin: 30px 70px 20px 70px;
}

a {
    text-decoration: none;
    color: #4D4D4D;
}

#turn{
    padding-top: 10px;
    font-family : "Londrina Sketch",sans-serif;
    font-size: 150%;
    font-weight: bold;
}

#question{
    margin-top: 5px;
    font-size: 250%;
}

#question-img{
    margin-bottom: 30px;
}


img{
    height: 400px;
    width: 460px;
    margin:auto;
    margin-top: 10px;
    border: 2px solid whitesmoke;
    border-radius: 4px;
}

.options {
    margin: 0 30px 0 30px;
    height: 40px;
}

.score-area {
    margin: 5px auto;
    width: 100%;
    font-size: 1.2rem;
}

.scores {
    color: #4D4D4D;
    font-weight: bold;
    font-family : "Londrina Sketch",sans-serif;
    margin: 10px 80px 0 80px;
    letter-spacing: 1.5px;
    font-size: 100%;
}

.next {
    margin-top : 10px;
}

/* Media queries */

@media (max-width: 850px) {
    h1{
        font-size: 300%;
    }

    .name{
        font-size: 200%;
    }
    
    #lp-div{
        margin-top: 0;
    }

    .player{ 
        margin: 20px 40px 20px 40px;
    }

    .scores {
        margin: 30px 40px 0 40px;
        letter-spacing: 1px;
        font-size: 90%;
    }

    body{
        background-size: cover;
    }
    
}

@media (max-width: 570px) {
    h1{
        font-size: 200%;
    }

    .name{
        font-size: 150%;
    }

    .player{ 
        margin: 10px 30px 10px 30px;
    }

    .button{
        font-size: 55%;
    }
    
    
}

@media (max-width: 420px) {
    
    .button{
        font-size: 30%;
    }
}