* {
    margin : 0;
    padding : 0;
    border : none;
}

body{
    background: grey;
    color: black;
    text-align: center;
}

h1{
    font-size: 400%;
    font-family: "Londrina Sketch", sans-serif;
}

.game-area{
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.name-area{
    margin: 10%;
}

.name{
    font-family : "Flavors",sans-serif;
    font-size: 150%;
}