* {
    margin : 0;
    padding : 0;
    border : none;
}

body{
    background: url("../images/bg.jpg") no-repeat center center;
    background-size: cover;
    color: #E74646;
    text-align: center;
}

h1{
    margin-top: 1%;
    font-size: 450%;
    font-family: "Londrina Sketch", sans-serif;
}

.game-area{
    background-color: rgba(255, 212, 178, 0.8);
    box-sizing: border-box;
    width: 85%;
    max-height: auto;
    max-width: 830px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 2%;
    border: #E74646 solid 2px;
}

.name-area{
    margin: auto;
    margin-top: 20px;
    width: 100%;
    height: 30%;
}

.name{
    padding-top: 10px;
    font-family : "Flavors",sans-serif;
    font-size: 300%;
}

#name-id{
    width: 20%;
    background-color: #FFF9DE;
}

#player-div, #lp-div{
    margin-top:50px;
    margin-bottom: 10px;
}
.button{
    width: 20%;
    height: 30px;;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF9DE;
    letter-spacing: 1.5px;
    background-color: #E74646;
    font-size: 80%;
}

.submit{
    display: block;
    margin: auto;
    margin-top: 5px;
}

.player{ 
    margin: 30px 70px 20px 70px;
}

a {
    text-decoration: none;
    color: #E74646;
}

#turn{
    padding-top: 20px;
    font-family : "Londrina Sketch",sans-serif;
    font-size: 200%;
    font-weight: bold;
}

#question{
    font-size: 250%;
}
img {
    max-width: 100%;
    max-height: 100%;
}

#question-img1{
    height: 210px;
    width: 210px;
    margin:auto;
    margin-top: 40px;
}

.options {
    margin: 0 30px 0 30px;
    height: 40px;
}

.score-area {
    margin: 5px auto;
    width: 100%;
    font-size: 1.2rem;
}

.scores {
    color: #E74646;
    font-weight: bold;
    font-family : "Londrina Sketch",sans-serif;
    display: inline-block;
    margin: 30px 80px 0 80px;
    letter-spacing: 1.5px;
    font-size: 120%;
}

/* Media queries */

@media (max-width: 850px) {
    h1{
        font-size: 300%;
    }

    .name{
        font-size: 200%;
    }
    
    #lp-div{
        margin-top: 0;
    }

    .player{ 
        margin: 20px 40px 20px 40px;
    }

    .scores {
        margin: 30px 40px 0 40px;
        letter-spacing: 1px;
        font-size: 90%;
    }
    
}

@media (max-width: 570px) {
    h1{
        font-size: 200%;
    }

    .name{
        font-size: 150%;
    }

    .player{ 
        margin: 10px 30px 10px 30px;
    }

    .button{
        font-size: 55%;
    }
    
    
}

@media (max-width: 420px) {
    
    .button{
        font-size: 30%;
    }
}